<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396302730946-2k9f64hmuetfbt71qpu0bbb0l1ftqh4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396302730946-2k9f64hmuetfbt71qpu0bbb0l1ftqh4j</string>
	<key>API_KEY</key>
	<string>AIzaSyAcSMcepwPpQxDEIOUVR-q-SM_LsLZM18M</string>
	<key>GCM_SENDER_ID</key>
	<string>396302730946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockwallet.app</string>
	<key>PROJECT_ID</key>
	<string>rockwallet-production</string>
	<key>STORAGE_BUCKET</key>
	<string>rockwallet-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396302730946:ios:3e7f5ed0d2c870e311dd5b</string>
</dict>
</plist>