<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416869923770-928dffvb2187mmegiu717sgqeoghsu94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416869923770-928dffvb2187mmegiu717sgqeoghsu94</string>
	<key>API_KEY</key>
	<string>AIzaSyDbrdGw9_gByHFWQ_W3PslWqYcuF2SQgro</string>
	<key>GCM_SENDER_ID</key>
	<string>416869923770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockwallet.app</string>
	<key>PROJECT_ID</key>
	<string>rockwallet-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>rockwallet-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416869923770:ios:d84bde8dd209c5a3cdfb83</string>
</dict>
</plist>