//
//  debug.xcconfig
//  breadwallet
//
//  Created by Rok on 07/03/2022.
//  Copyright © 2022 RockWallet, LLC. All rights reserved.
//
//  See the LICENSE file at the project root for license information.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include ".env"

APP_ICON=AppIconDev

API_URL=api.dev.rockwallet.net/
API_TOKEN=$(DEBUG_TOKEN)
CHECKOUT_API_TOKEN=$(DEBUG_CHECKOUT_TOKEN)
PAYMAIL_DOMAIN=$(DEBUG_PAYMAIL_DOMAIN)
GS_CLIENT_ID=$(DEBUG_GS_CLIENT_ID)
GS_API_KEY=$(DEBUG_GS_API_KEY)
GS_GCM_SENDER_ID=$(DEBUG_GS_GCM_SENDER_ID)
GS_PROJECT_ID=$(DEBUG_GS_PROJECT_ID)
GS_STORAGE_BUCKET=$(DEBUG_GS_STORAGE_BUCKET)
GS_GOOGLE_APP_ID=$(DEBUG_GS_GOOGLE_APP_ID)

IS_DEVELOPMENT=true
