//
//  staging.xcconfig
//  breadwallet
//
//  Created by Rok on 07/03/2022.
//  Copyright © 2022 RockWallet, LLC. All rights reserved.
//
//  See the LICENSE file at the project root for license information.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include ".env"

APP_ICON=AppIconStg

API_URL=api.stg.rockwallet.net/
API_TOKEN=$(STAGING_TOKEN)
CHECKOUT_API_TOKEN=$(STAGING_CHECKOUT_TOKEN)
PAYMAIL_DOMAIN=$(STAGING_PAYMAIL_DOMAIN)
GS_CLIENT_ID=$(STAGING_GS_CLIENT_ID)
GS_API_KEY=$(STAGING_GS_API_KEY)
GS_GCM_SENDER_ID=$(STAGING_GS_GCM_SENDER_ID)
GS_PROJECT_ID=$(STAGING_GS_PROJECT_ID)
GS_STORAGE_BUCKET=$(STAGING_GS_STORAGE_BUCKET)
GS_GOOGLE_APP_ID=$(STAGING_GS_GOOGLE_APP_ID)

IS_STAGING=true
