<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1Q4Q_MuYIK-oJmq6g35KApD64zfG4QE4</string>
	<key>BUNDLE_ID</key>
	<string>com.rockwallet.app</string>
	<key>CLIENT_ID</key>
	<string>645670978048-4qg6eurj7l4htdqeqm228ind65uhfrh5.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>645670978048</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:645670978048:ios:98ea5c93c2312170e74ee5</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>rockwallet-dev</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396302730946-2k9f64hmuetfbt71qpu0bbb0l1ftqh4j</string>
	<key>STORAGE_BUCKET</key>
	<string>rockwallet-dev.appspot.com</string>
</dict>
</plist>
