<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<dict>
		<key>Degular-Bold</key>
		<string>Sofia-Pro.otf</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>background-01</key>
		<string>FFFFFF</string>
		<key>background-02</key>
		<string>F6F6F5</string>
		<key>background-03</key>
		<string>DEE7E3</string>
		<key>background-cards</key>
		<string>FFFFFF</string>
		<key>primary</key>
		<string>6EAEA1</string>
		<key>secondary</key>
		<string>3C5346</string>
		<key>tertiary</key>
		<string>EACA66</string>
		<key>contrast-01</key>
		<string>2B2B28</string>
		<key>contrast-02</key>
		<string>FFFFFF</string>
		<key>text-01</key>
		<string>2B2B28</string>
		<key>text-02</key>
		<string>666664</string>
		<key>text-03</key>
		<string>3C5346</string>
		<key>outline-01</key>
		<string>ECECEC</string>
		<key>outline-02</key>
		<string>A2A29E</string>
		<key>disabled-01</key>
		<string>C5DFD9</string>
		<key>disabled-02</key>
		<string>C7C7C5</string>
		<key>success-01</key>
		<string>7ACDA5</string>
		<key>success-02</key>
		<string>E4F5ED</string>
		<key>pending-01</key>
		<string>EACA66</string>
		<key>pending-02</key>
		<string>FDFAF0</string>
		<key>error-01</key>
		<string>D5554E</string>
		<key>error-02</key>
		<string>FAEAE9</string>
		<key>primary-pressed</key>
		<string>559085</string>
	</dict>
</dict>
</plist>
